$white: #ffffff;
$gray-lightest: #faf9fa;
$gray-lighter: #e6e5e6;
$gray-light: #d2d1d2;
$gray: #bfbec0;
$gray-dark: #989798;
$gray-darker: #706f70;
$gray-darkest: #49484a;
$black: #212122;
$color-black: #000;


// /* RGB */
// $color1: rgba(0, 0, 0, 1);
// $color2: rgba(131, 151, 136, 1);
// $color3: rgba(238, 224, 203, 1);
// $color4: rgba(186, 168, 152, 1);
// $color5: rgba(191, 215, 234, 1);
// $color6: rgba(150, 215, 234, 1);

$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(135%, 9%, 55%, 1);
$color3: hsla(36%, 51%, 86%, 1);
$color4: hsla(28%, 20%, 66%, 1);
$color5: hsla(207%, 51%, 83%, 1);
$color6: hsla(150%, 51%, 83%, 1);
