@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes click-effect {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes cover-appear {
  0% {
    width: 0%;
  }
  100% {
    width: 30rem;
  }
}

@keyframes icon-appear {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}


@keyframes text-appear {
  0% {
    opacity: 0;
    width: 0;
    // transform: scaleY(0);
  }
  100% {
    opacity: 1;
    width: 30rem;
    // transform: scaleY(1);
  }

}