main {
  background-color: rgba($color4, 0.3);
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    animation: rev-block 2s ease-in-out;
    background-color: rgba($color4, 0.6);
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    animation: rev-block 2s ease-in-out;
    background-color: rgba($color6, 0.8);
    animation-delay: 1s;
  }
}

.figure {
  position: absolute;
  &--1 {
    top: 5%;
    left: 5%;
    .figure__img {
      height: 40rem;
    }
    .figure__caption {
      color: darken($color5, 10%);
    }
  }
  &--2 {
    top: 12%;
    left: 38%;
    .figure__img {
      height: 50rem;
    }
    .figure__caption {
      color: darken($color4, 20%);
    }
  }
  &--3 {
    top: 16%;
    left: 70%;
    .figure__img {
      height: 40rem;
    }
    .figure__caption {
      color: darken($color2, 10%);
    }

  }
  &__img-cover {
    position: absolute;
    top: -1.5rem;
    left: 1.5rem;
    height: 50rem;
    width: 30rem;
    // z-index: 1;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 0%;
      height: 100%;
      animation: rev-block 1.5s ease-in-out forwards;
    }
    &--1 {
      &::before {
        background-color: $color2;
        animation-delay: 0;
      }
      height: 40rem;
    }
    &--2 {
      &::before {
        background-color: $color6;
        animation-delay: 1s;
      }
      height: 50rem;
    }
    &--3 {
      &::before {
        background-color: darken($color3, 30%);
        animation-delay: 2s;
      }
      height: 40rem;
    }
  }
  &__img {
    height: 50rem;
    width: 30rem;
    filter: brightness(70%);
    transform: scale(1);
    transition: all 0.5s ease;
    opacity: 0;
    animation: text-appear 1s ease-in-out forwards;

    &--1 {
      background: url(../img/joel-small.jpeg) no-repeat 50% 50%;
      background-size: cover;
      animation-delay: 0.2s;
    }
    &--2 {
      background: url(../img/sarah-small.jpeg) no-repeat 50% 50%;
      background-size: cover;
      animation-delay: 1.2s;
    }
    &--3 {
      background: url(../img/steven-small.jpeg) no-repeat 50% 50%;
      background-size: cover;
      animation-delay: 2.2s;
    }
  }
  &__caption {
    position: absolute;
    bottom: -2rem;
    left: -5rem;
    &--main {
      font-size: 5rem;
      font-weight: 700;
      text-decoration: none;
      margin-bottom: -2rem;
      text-shadow: 0.3rem 0.3rem $white;
      transition: transform 1s ease-in-out,
                  margin 0.3s ease;
    }
    &--sub {
      opacity: 0.6;
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      transition: all 0.3s ease;
      text-shadow: 1px 1px rgba($color-black, 0.3);

    }
  }
  &:focus {
    outline: none;
  }
  &:focus &__caption--main,
  &:hover &__caption--main {
    text-decoration: line-through;
    margin-bottom: -1.8rem;
  }
  &:focus &__caption--sub,
  &:hover &__caption--sub {
    letter-spacing: 0.3rem;
  }
  &:focus &__img,
  &:hover &__img {
    filter: brightness(100%);
    transform: scale(1.1);
  }
}